<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title th:text="'MemoBom' + (${pageTitle} != null ? ' - ' + ${pageTitle} : '')">MemoBom</title>

	<link rel="stylesheet" th:href="@{/css/tailwind/tailwind.min.css}">
	<th:block th:replace="~{Common/Favicon :: Favicon}"></th:block>
	<script th:inline="javascript">
	  	window.contextPath = (/*[[@{/}]]*/ '').replace(/\/$/, "");
		console.info('contextPath', window.contextPath);
	</script>
	<th:block layout:fragment="css"></th:block>

	<style>
		.scrollbar-hide {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}

		.scrollbar-hide::-webkit-scrollbar {
			display: none;
		}
	</style>
</head>

<body class="bg-gray-100 text-slate-900">

	<!--<div class="max-w-md md:max-w-xl lg:max-w-2xl mx-auto min-h-screen flex flex-col bg-white shadow-lg overflow-hidden relative">-->
	<div class="w-full mx-auto min-h-screen flex flex-col bg-white shadow-lg overflow-hidden relative">
		

		<header th:if="${showHeader == null || showHeader}"
			class="relative h-12 pt-[env(safe-area-inset-top)] shrink-0 border-b border-gray-200 bg-white z-10">
			<th:block layout:fragment="header"></th:block>
		</header>

		<main class="flex-1 overflow-y-auto scrollbar-hide p-2 bg-slate-50">
			<th:block layout:fragment="content"></th:block>
		</main>

		<footer th:if="${showFooter == null || showFooter}"
			class="h-8 shrink-0 flex items-center justify-center border-t border-gray-200 bg-white z-10">
			<th:block layout:fragment="footer"></th:block>
		</footer>
	</div>

	<div th:replace="~{Common/AlertView :: AlertView}"></div>
	<th:block th:replace="~{Common/LoadingOverlay :: LoadingOverlay}"></th:block>
	<th:block th:replace="~{Common/ModalView :: ModalView}"></th:block>

	<script type="text/javascript" th:src="@{/js/api.js(v=${assetVersion})}"></script>
	<script type="text/javascript" th:src="@{/js/MyToast.js(v=${assetVersion})}"></script>

	<th:block layout:fragment="script"></th:block>
</body>

</html>