<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="ModalView">

	<!-- 팝업을 위한 컨테이너 -->
	<div id="popupContainer">
		<div id="popupOverlay"
			class="fixed inset-0 z-45 bg-black/25 backdrop-blur-[1px] hidden flex justify-center items-end sm:items-center p-0 sm:p-4">
			<div id="popupWindow"
				class="modalTop bg-white shadow-lg relative w-full max-h-[100dvh] sm:max-h-[calc(100dvh-2rem)] sm:max-w-[min(90vw,960px)] rounded-t-2xl sm:rounded-lg overflow-hidden">
				<div id="popupContentContainer">
					<!-- 서버에서 로드된 내용이 여기에 삽입됨 -->
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/ModalView.js(v=${assetVersion})}"></script>
</th:block>
