<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <!-- meta 네이버:카카오 지원 -->
	  <meta property="og:type" content="website">
	  <!-- 공유시 이동 url -->
	  <meta property="og:url" th:content="${item.url}">
	  <!-- 공유시 보여질 제목 -->
	  <meta property="og:title" th:content="${item.title}">
	  <!-- 공유시 보여질 이미지 경로 -->
	  <meta property="og:image" th:content="@{/images/favicon/android-icon-192x192.png}">
	  <!-- 공유시 보여질 설명 -->
	  <meta property="og:description" th:content="${item.text}">
	  <!-- 사이트 이름 -->
	  <meta property="og:site_name" th:content="${item.title}">

	  <meta property="og:ignore_canonical" content="true">

	  <meta property="og:article:section" content="MemoBom / Spring">


	  <!-- X -->
	  <meta property="twitter:card" content="card">
	  <meta property="twitter:title" th:content="${item.title}">
	  <meta property="twitter:description" th:content="${item.text}">
	  <meta property="twitter:image" th:content="@{/images/favicon/android-icon-192x192.png}">
	  <meta property="twitter:url" th:content="${item.url}">

	  <!-- Mobile IOS -->
	  <meta property="al:web:url" th:content="${item.url}">
</head>
<body>
    [[${item.text}]]
</body>
</html>
