<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.memoBom.user.mapper.HolidayMapper">

	<insert id="insertHoliday" parameterType="com.utime.memoBom.user.vo.HolidayVo">
        MERGE INTO MB_HOLIDAY (
			HOLI_TYPE,
			LOC_DATE,
			HOLIDAY,
			NAME
		) KEY (LOC_DATE, NAME)
		VALUES (
			#{dateKind},
			PARSEDATETIME(#{locdate}, 'yyyyMMdd'),
			#{holiday},
			#{dateName}
		)
    </insert>

</mapper>