<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.memoBom.user.mapper.HolidayMapper">

	<!-- insertHoliday(HolidayVo -->
	
	<insert id="insertHoliday" parameterType="com.utime.memoBom.user.vo.HolidayVo">
        MERGE INTO MB_HOLIDAY (
			HOLI_TYPE,
			LOC_DATE,
			HOLIDAY,
			NAME
		) KEY (LOC_DATE, NAME)
		VALUES (
			#{dateKind},
			PARSEDATETIME(#{locdate}, 'yyyyMMdd'),
			#{holiday},
			#{dateName}
		)
    </insert>
	
	<!--특정 연도의 공휴일 정보가 존재하는지 확인-->
	<select id="hasHolidayList" parameterType="int" resultType="boolean">
	    SELECT 
	    	CASE COUNT(1) 
	   			WHEN 0 THEN 0
				ELSE 1
	   		END AS RES
	    FROM MB_HOLIDAY
        WHERE EXTRACT(YEAR FROM LOC_DATE) = #{year}
    </select>
</mapper>