<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.memoBom.user.mapper.UserMapper">

	<!-- 사용자 추가 -->
	<insert id="insertUser" parameterType="com.utime.memoBom.user.vo.UserVo" 
		useGeneratedKeys="true" keyProperty="userNo" >
		INSERT INTO MB_USER (
			UPDATE_DATE 
			, ENABLED
			, ROLE
			, PROVIDER
			, ID 
			<if test="email != null and ! email.isEmpty() ">, EMAIL </if>
			<if test="nickname != null and ! nickname.isEmpty() ">, NICKNAME </if>
			<if test="profileUrl != null and ! profileUrl.isEmpty() ">, PROFILE_IMG_PATH </if>
			<if test="note != null and ! note.isEmpty() ">, DESCRIPTION </if>
		) VALUES (
			CURRENT_TIMESTAMP
			, #{enabled}
			, #{role}
			, #{provider}
			, #{id}
			<if test="email != null and ! email.isEmpty() ">, #{email, typeHandler=com.utime.memoBom.common.typeHandler.SeedEncryptTypeHandler} </if>
			<if test="nickname != null and ! nickname.isEmpty() ">, #{nickname} </if>
			<if test="profileUrl != null and ! profileUrl.isEmpty() ">, #{profileUrl} </if>
			<if test="note != null and ! note.isEmpty() ">, #{dscr} </if>
		)
	</insert>
	
	<!-- 로그인 기록 추가 -->
	<insert id="insertLoginRecord" parameterType="map">
		INSERT INTO MB_USER_LOGIN_RECORD (
			USER_NO
			, IP
			, DEVICE
			<if test="device.model != null">
			, MODEL
			</if>
		) VALUES (
			#{user.userNo}
			, #{ip}
			, #{device.device}
			<if test="device.model != null ">
			, #{device.model}
			</if>
		)
	</insert>
	
	
	<sql id="UserColumn">
		USER_NO
		, REG_DATE
		, UPDATE_DATE
		, ENABLED 
		, UID
		, ROLE 
		, PROVIDER 
		, ID 
		, EMAIL
		, NICKNAME 
		, PROFILE_IMG_PATH 
		, DESCRIPTION
	</sql>
	
	<resultMap id="UserVoMap" type="com.utime.memoBom.user.vo.UserVo">
		<id column="USER_NO" property="userNo"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="ENABLED" property="enabled"/>
		<result column="ROLE" property="role"/>
		<result column="PROVIDER" property="provider"/>
		<result column="UID" property="uid"/>
		<result column="ID" property="id"/>
		<result column="EMAIL" property="email" typeHandler="com.utime.memoBom.common.typeHandler.SeedEncryptTypeHandler"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="DESCRIPTION" property="note"/>
		<result column="PROFILE_IMG_PATH" property="profileUrl"/>
	</resultMap>
	
	<!-- id 조회 -->	
	<select id="selectUserFromIdAndProvider" parameterType="map" resultMap="UserVoMap">
		SELECT 
			<include refid="UserColumn" /> 
		FROM MB_USER UR 
		WHERE UR.ID = #{id} AND PROVIDER = #{provider} AND ENABLED = TRUE
	</select>

	<!--회원 정보 제거-->
	<update id="removeUser" parameterType="com.utime.memoBom.user.vo.UserVo" >
		UPDATE MB_USER SET 
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = FALSE
			, ROLE = '-'
			, PROVIDER = '-'
			, ID  = '${userNo}'
		WHERE USER_NO = ${userNo}
	</update>
	
	<!--사용자 정보 조회-->
	<select id="selectUserFromUid" parameterType="map">
		SELECT 
			<include refid="UserColumn" /> 
		FROM MB_USER UR 
		WHERE UR.UID = #{uid} AND ENABLED = TRUE
	</select>
	
	<!--내 작성 데이터-->
	<select id="selectMyWriteDataList" parameterType="map" resultType="com.utime.memoBom.user.vo.MyWriterVo" >
		SELECT
		    X.REG_DATE   AS "date",
		    X.TARGET     AS "target",
		    X.UID        AS "uid",
	        CASE
            	WHEN LENGTH(CAST(X.NAME AS VARCHAR)) > 26
            		THEN SUBSTRING(CAST(X.NAME AS VARCHAR), 1, 23) || '...'
            	ELSE CAST(X.NAME AS VARCHAR)
       		END AS "name"
		FROM (
		    SELECT
		        F.REG_DATE AS REG_DATE,
		        'fragment' AS TARGET,
		        CAST(F.UID AS VARCHAR) AS UID,
		        F.CONTENT AS NAME
		    FROM MB_FRAGMENT F
		    WHERE F.USER_NO = #{user.userNo}
		      AND F.REG_DATE >= PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd')
		      AND F.REG_DATE <![CDATA[ < ]]> DATEADD('MONTH', 1, PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd'))
		      AND F.IS_DELETED = FALSE
		
		    UNION ALL
		
		    SELECT
		        C.REG_DATE AS REG_DATE,
		        'comment'  AS TARGET,
		        CAST(C.UID AS VARCHAR) AS UID,
		        C.CONTENT AS NAME
		    FROM MB_FRAGMENT_COMMENTS C
		    WHERE C.USER_NO = #{user.userNo}
		      AND C.REG_DATE >= PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd')
		      AND C.REG_DATE <![CDATA[ < ]]> DATEADD('MONTH', 1, PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd'))
		      
		    UNION ALL
		    
		    SELECT
		        HL.LOC_DATE AS REG_DATE,
		        CASE WHEN HL.HOLIDAY = TRUE THEN 'holiday' ELSE 'anniversary' END AS TARGET,
		        '' AS UID,
		        HL.NAME AS NAME
            FROM MB_HOLIDAY HL
            WHERE 1=1
            	AND HL.LOC_DATE >= PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd')
            	AND HL.LOC_DATE <![CDATA[ < ]]> DATEADD('MONTH', 1, PARSEDATETIME(CONCAT(#{date}, '01'), 'yyyyMMdd'))
		) X
		ORDER BY X.REG_DATE ASC
	</select>
	
	<!--단순 사용자 정보 조회-->
	<select id="getBasicUserFromUserNo" parameterType="long" resultType="com.utime.memoBom.user.vo.query.BasicUserVo">
		SELECT 
			UID AS "uid"
			, NICKNAME AS "nickname"
			, PROFILE_IMG_PATH AS "profileUrl"
		FROM MB_USER
		WHERE USER_NO = #{userNo} AND ENABLED = TRUE
	</select>

</mapper>