<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <meta property="og:type" content="website">
	  <meta property="og:url" th:content="${redirectUrl}" />
	  <meta property="og:title" content="Borrow">
	  <meta property="og:image" th:content="@{/images/favicon/android-icon-192x192.png}">
	  <meta property="og:description" content="인증이 필요합니다.">
	  <meta property="og:site_name" content="Borrow">
	  <meta property="og:ignore_canonical" content="true">
	  <meta property="og:article:section" content="Borrow">
</head>
<body>
    <p>미리보기 전용 페이지입니다.</p>
</body>
</html>
