<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{My/MyLayout}">

<body>
<th:block layout:fragment="my_content">
	<div class="rounded-xl p-5 text-gray-900 shadow-lg backdrop-blur-md ring-1 ring-rose-300/30
		                bg-gradient-to-br from-rose-500/45 via-red-500/30 to-fuchsia-600/40">
	  <div class="font-bold">Alarm</div>
	  <div class="text-dynamic-sm opacity-90">소식...</div>
	</div>
</th:block>
</body>
</html>
