<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.admin.mapper.AdminUserMapper">

	<select id="getUserList"
		parameterType="com.utime.memoBom.admin.vo.AdminSearchVo"
		resultType="com.utime.memoBom.admin.vo.AdminUserVo">
		<bind name="offset" value="(pageNo - 1) * 20"/>
		SELECT
			STRFTIME('%Y-%m-%d %H:%M:%S', U.CREATED_AT) AS createdAt,
			STRFTIME('%Y-%m-%d %H:%M:%S', U.UPDATED_AT) AS updatedAt,
			U.USER_NO AS userNo,
			U.ENABLED AS enabled,
			U.ROLE AS role,
			U.PROVIDER AS provider,
			U.ID AS id,
			U.EMAIL AS email,
			U.NICKNAME AS nickname,
			U.DESCRIPTION AS note,
			U.PROFILE_IMG_PATH AS profileUrl
		FROM MB_USER U
		WHERE STRFTIME('%Y-%m-%d', U.CREATED_AT) = #{date}
		<if test="keyword != null and keyword != ''">
			AND (
				UPPER(U.ID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.EMAIL) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.NICKNAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.PROVIDER) LIKE '%' || UPPER(#{keyword}) || '%'
			)
		</if>
		ORDER BY U.USER_NO DESC
		LIMIT 20 OFFSET #{offset}
	</select>

	<update id="updateUserNote" parameterType="map">
		UPDATE MB_USER
		SET DESCRIPTION = #{note},
			UPDATED_AT = CURRENT_TIMESTAMP
		WHERE USER_NO = #{userNo}
	</update>

	<update id="updateUserEnabled" parameterType="map">
		UPDATE MB_USER
		SET ENABLED = #{enabled},
			UPDATED_AT = CURRENT_TIMESTAMP
		WHERE USER_NO = #{userNo}
	</update>

	<delete id="deleteDisabledUsers" parameterType="map">
		DELETE FROM MB_USER
		WHERE 1=1
			AND ENABLED = 0
			AND UPDATED_AT <![CDATA[<]]> DATETIME(CURRENT_TIMESTAMP, '-' || ${day} || ' days')
	</delete>

</mapper>
