<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.admin.mapper.AdminShareMapper">

	<select id="getShareList"
		parameterType="com.utime.memoBom.admin.vo.AdminSearchVo"
		resultType="com.utime.memoBom.admin.vo.AdminShareVo">
		<bind name="offset" value="(pageNo - 1) * 20"/>
		SELECT
			STRFTIME('%Y-%m-%d %H:%M:%S', S.CREATED_AT) AS createAt,
			S.SHARE_NO AS shareNo,
			S.UID AS uid,
			S.TARGET_TYPE AS targetType,
			S.TARGET_NO AS targetNo,
			S.USER_NO AS userNo,
			U.ID AS userId,
			U.NICKNAME AS userNickname,
			T.NAME AS topicName,
			SUBSTR(F.CONTENT, 1, 80) AS fragmentContent
		FROM MB_SHARE S
			LEFT JOIN MB_USER U
				ON U.USER_NO = S.USER_NO
			LEFT JOIN MB_TOPIC T
				ON S.TARGET_TYPE = 0
				AND T.TOPIC_NO = S.TARGET_NO
			LEFT JOIN MB_FRAGMENT F
				ON S.TARGET_TYPE = 1
				AND F.FRAGMENT_NO = S.TARGET_NO
		WHERE STRFTIME('%Y-%m-%d', S.CREATED_AT) = #{date}
			AND S.TARGET_TYPE IN (0, 1)
		<if test="keyword != null and keyword != ''">
			AND (
				UPPER(U.ID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.NICKNAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(T.NAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(F.CONTENT) LIKE '%' || UPPER(#{keyword}) || '%'
			)
		</if>
		ORDER BY S.SHARE_NO DESC
		LIMIT 20 OFFSET #{offset}
	</select>

</mapper>
