<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.admin.mapper.AdminDashBoardMapper">

	<select id="getDashboard" resultType="com.utime.memoBom.admin.vo.DashboardVo">
		SELECT
			(SELECT COUNT(*)
			 FROM MB_USER
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "user",
			(SELECT COUNT(*)
			 FROM MB_TOPIC
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "topic",
			(SELECT COUNT(*)
			 FROM MB_FRAGMENT
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "fragment",
			(SELECT COUNT(*)
			 FROM MB_FRAGMENT_COMMENTS
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "comment",
			(SELECT COUNT(*)
			 FROM MB_FRAGMENT_EMOTION_LOG
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "emotion",
			(SELECT COUNT(*)
			 FROM MB_FRAGMENT_SCRAP
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "scrap",
			(SELECT COUNT(*)
			 FROM MB_SHARE
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "share",
			(SELECT COUNT(*)
			 FROM MB_PUSH_SUB
			 WHERE STRFTIME('%Y-%m-%d', CREATED_AT) = #{date}) AS "push"
	</select>

</mapper>
