<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.admin.mapper.AdminFragmentMapper">

	<select id="getFragmentList"
		parameterType="com.utime.memoBom.admin.vo.AdminSearchVo"
		resultType="com.utime.memoBom.admin.vo.AdminFragmentVo">
		<bind name="offset" value="(pageNo - 1) * 20"/>
		SELECT
			STRFTIME('%Y-%m-%d %H:%M:%S', F.REG_DATE) AS regDate,
			STRFTIME('%Y-%m-%d %H:%M:%S', F.UPDATE_DATE) AS updateDate,
			F.FRAGMENT_NO AS fragmentNo,
			F.UID AS uid,
			F.IS_DELETED AS deleted,
			F.USER_NO AS userNo,
			U.ID AS userId,
			U.NICKNAME AS userNickname,
			F.TOPIC_NO AS topicNo,
			T.NAME AS topicName,
			T.UID AS topicUid,
			F.CONTENT AS content,
			(
				SELECT COUNT(1)
				FROM MB_FRAGMENT_COMMENTS C
				WHERE C.FRAGMENT_NO = F.FRAGMENT_NO
			) AS commentCount,
			(
				SELECT COUNT(1)
				FROM MB_FRAGMENT_EMOTION_LOG E
				WHERE E.TARGET_TYPE = 1
					AND E.TARGET_NO = F.FRAGMENT_NO
			) AS emotionCount,
			(
				SELECT COUNT(1)
				FROM MB_FRAGMENT_SCRAP S
				WHERE S.FRAGMENT_NO = F.FRAGMENT_NO
			) AS scrapCount
		FROM MB_FRAGMENT F
			INNER JOIN MB_USER U
				ON U.USER_NO = F.USER_NO
			INNER JOIN MB_TOPIC T
				ON T.TOPIC_NO = F.TOPIC_NO
		WHERE STRFTIME('%Y-%m-%d', F.REG_DATE) = #{date}
		<if test="keyword != null and keyword != ''">
			AND (
				UPPER(F.UID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(F.CONTENT) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.ID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.NICKNAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(T.NAME) LIKE '%' || UPPER(#{keyword}) || '%'
			)
		</if>
		ORDER BY F.FRAGMENT_NO DESC
		LIMIT 20 OFFSET #{offset}
	</select>
	
	<delete id="deleteFragmentsImage" parameterType="map">
		DELETE FROM MB_FRAGMENT_IMAGE
		WHERE FRAGMENT_NO IN (
		    SELECT FRAGMENT_NO
		    FROM MB_FRAGMENT
		    WHERE IS_DELETED = 1
		      AND UPDATE_DATE <![CDATA[<]]> DATETIME(CURRENT_TIMESTAMP, '-' || ${day} || ' days')
		)
	</delete>

	<delete id="deleteFragments" parameterType="map">
		DELETE FROM MB_FRAGMENT
		WHERE 1=1
			AND IS_DELETED = 1
			AND UPDATE_DATE <![CDATA[<]]> DATETIME(CURRENT_TIMESTAMP, '-' || ${day} || ' days')
	</delete>

</mapper>
