<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.admin.mapper.AdminCommentMapper">

	<select id="getCommentList"
		parameterType="com.utime.memoBom.admin.vo.AdminSearchVo"
		resultType="com.utime.memoBom.admin.vo.AdminCommentVo">
		<bind name="offset" value="(pageNo - 1) * 20"/>
		SELECT
			STRFTIME('%Y-%m-%d %H:%M:%S', C.REG_DATE) AS regDate,
			STRFTIME('%Y-%m-%d %H:%M:%S', C.UPDATE_DATE) AS updateDate,
			C.COMMENT_NO AS commentNo,
			C.UID AS uid,
			C.IS_DELETED AS deleted,
			C.FRAGMENT_NO AS fragmentNo,
			F.UID AS fragmentUid,
			SUBSTR(F.CONTENT, 1, 80) AS fragmentContent,
			F.TOPIC_NO AS topicNo,
			T.NAME AS topicName,
			C.USER_NO AS userNo,
			U.ID AS userId,
			U.NICKNAME AS userNickname,
			C.CONTENT AS content
		FROM MB_FRAGMENT_COMMENTS C
			INNER JOIN MB_FRAGMENT F
				ON F.FRAGMENT_NO = C.FRAGMENT_NO
			INNER JOIN MB_TOPIC T
				ON T.TOPIC_NO = F.TOPIC_NO
			INNER JOIN MB_USER U
				ON U.USER_NO = C.USER_NO
		WHERE STRFTIME('%Y-%m-%d', C.REG_DATE) = #{date}
		<if test="keyword != null and keyword != ''">
			AND (
				UPPER(C.CONTENT) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(C.UID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.ID) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(U.NICKNAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(T.NAME) LIKE '%' || UPPER(#{keyword}) || '%'
				OR UPPER(F.CONTENT) LIKE '%' || UPPER(#{keyword}) || '%'
			)
		</if>
		ORDER BY C.COMMENT_NO DESC
		LIMIT 20 OFFSET #{offset}
	</select>

	<select id="getFragmentPreview" parameterType="map" resultType="com.utime.memoBom.admin.vo.AdminFragmentVo">
		SELECT
			F.FRAGMENT_NO AS fragmentNo,
			F.UID AS uid,
			STRFTIME('%Y-%m-%d %H:%M:%S', F.REG_DATE) AS regDate,
			F.TOPIC_NO AS topicNo,
			T.NAME AS topicName,
			T.IMOGI AS imogi,
			F.USER_NO AS userNo,
			U.NICKNAME AS userNickname,
			U.PROFILE_IMG_PATH AS userProfileUrl,
			F.CONTENT AS content
		FROM MB_FRAGMENT F
			INNER JOIN MB_TOPIC T
				ON T.TOPIC_NO = F.TOPIC_NO
			INNER JOIN MB_USER U
				ON U.USER_NO = F.USER_NO
		WHERE F.FRAGMENT_NO = #{fragmentNo}
	</select>

	<update id="updateCommentDeleted" parameterType="map">
		UPDATE MB_FRAGMENT_COMMENTS
		SET IS_DELETED = #{deleted},
			UPDATE_DATE = CURRENT_TIMESTAMP
		WHERE COMMENT_NO = #{commentNo}
	</update>

	<delete id="deleteComments" parameterType="map">
		DELETE FROM MB_FRAGMENT_COMMENTS
		WHERE 1=1
			AND IS_DELETED = 1
			AND UPDATE_DATE <![CDATA[<]]> DATETIME(CURRENT_TIMESTAMP, '-' || ${day} || ' days')
	</delete>

</mapper>
