<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.board.mapper.BoardMapper">

	<insert id="insertFragment" parameterType="map"
		useGeneratedKeys="true" keyProperty="fragmentNo">
		INSERT INTO MB_FRAGMENT ( 
			USER_NO 
			, TOPIC_NO 
			, CONTENT 
			<if test="req.ip != null and ! req.ip.isEmpty()">, IP </if>
			<if test="req.device != null and ! req.device.isEmpty()">, DEVICE</if> 
		)VALUES ( 
			#{user.userNo} 
			, #{topic.topicNo} 
			, #{reqVo.content} 
			<if test="req.ip != null and ! req.ip.isEmpty()">, #{req.ip} </if>
			<if test="req.device != null and ! req.device.isEmpty()">, #{req.device}</if> 
		) 
	</insert>


	<!-- 해시태그: 있으면 아무것도 안 하고, 없으면 생성 -->
	<update id="mergeFragmentHashTag" parameterType="map">
		MERGE INTO MB_FRAGMENT_HASHTAG (NAME)
		KEY (NAME)
		VALUES (#{name})
	</update>
	
	<update id="mergeFragmentHashTagRecordByName" parameterType="map">
		MERGE INTO MB_FRAGMENT_HASHTAG_RECORD (TAG_NO, FRAGMENT_NO)
		KEY (TAG_NO, FRAGMENT_NO)
		VALUES (
			(SELECT TAG_NO FROM MB_FRAGMENT_HASHTAG WHERE NAME = #{name})
			, #{fragmentNo}
		)
	</update>
	
	<update id="upsertEmotion">
		MERGE INTO MB_FRAGMENT_EMOTION_LOG (
			USER_NO, TARGET_TYPE, TARGET_NO, EMOTION, UPDATE_DATE
		) KEY ( USER_NO, TARGET_TYPE, TARGET_NO ) 
		VALUES (
			#{userNo}, #{targetType}, #{targetNo}, #{emotion}, CURRENT_TIMESTAMP
		)
	</update>
	
	<!-- 리액션 삭제(해제) -->
	<delete id="deleteEmotion">
		DELETE FROM MB_FRAGMENT_EMOTION_LOG
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND TARGET_TYPE = #{targetType}
			AND TARGET_NO = #{targetNo}
	</delete>
	
	<!-- 대상(게시글/댓글)별 리액션 카운트 -->
	<select id="selectEmotionCountsByTarget" resultType="map">
		SELECT 
			EMOTION, COUNT(*) AS CNT
		FROM MB_FRAGMENT_EMOTION_LOG
		WHERE 1=1
			AND TARGET_TYPE = #{targetType}
			AND TARGET_NO = #{targetNo}
		GROUP BY EMOTION
	</select>
	
	<!-- 내가 누른 리액션(1개) -->
	<select id="selectMyEmotion" resultType="string">
		SELECT EMOTION
		FROM MB_FRAGMENT_EMOTION_LOG
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND TARGET_TYPE = #{targetType}
			AND TARGET_NO = #{targetNo}
  </select>

</mapper>