<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.utime.memoBom.board.mapper.BoardMapper">

	<insert id="insertFragment" parameterType="map"
		useGeneratedKeys="true" keyProperty="req.fragmentNo">
		INSERT INTO MB_FRAGMENT ( 
			USER_NO 
			, TOPIC_NO 
			, UID
			, CONTENT 
			<if test="req.ip != null and ! req.ip.isEmpty()">, IP </if>
			<if test="device.device != null">, DEVICE</if> 
		)VALUES ( 
			#{user.userNo} 
			, #{topic.topicNo} 
			, #{req.uid}
			, #{req.content} 
			<if test="req.ip != null and ! req.ip.isEmpty()">, #{req.ip} </if>
			<if test="device.device != null ">, #{device.device}</if> 
		) 
	</insert>


	<!-- 해시태그: 있으면 아무것도 안 하고, 없으면 생성 -->
	<update id="mergeFragmentHashTag" parameterType="map">
		INSERT INTO MB_FRAGMENT_HASHTAG (NAME)
		VALUES (#{name})
		ON CONFLICT(NAME) DO NOTHING
	</update>
	
	<!--해시태그-편린 연결 병합-->
	<update id="mergeFragmentHashTagRecordByName" parameterType="map">
	    INSERT INTO MB_FRAGMENT_HASHTAG_RECORD (FRAGMENT_NO, TAG_NO)
        VALUES (
            #{fragmentNo},
            (
                SELECT TAG_NO FROM MB_FRAGMENT_HASHTAG WHERE NAME = #{name}
            )
        )
        ON CONFLICT(TAG_NO, FRAGMENT_NO) DO NOTHING
	</update>
	
  <resultMap id="FragmentItemMap" type="com.utime.memoBom.board.vo.FragmentItem">
  		<id property="fragmentNo" column="fragment_no" />
        <id property="uid" column="fragment_uid" />
        <result property="content" column="content" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="scrap" column="is_scrap" /> 
        
        <association property="image" javaType="com.utime.memoBom.board.vo.query.BoardImageVo">
            <result property="uid" column="img_uid" />
            <result property="width" column="img_width" />
            <result property="height" column="img_height" />
            <result property="originName" column="img_original_name" />
        </association>
        
        <association property="user" javaType="com.utime.memoBom.user.vo.UserVo">
            <result property="uid" column="user_uid" />
            <result property="nickname" column="user_nickname" />
            <result property="profileUrl" column="user_img_url" />
        </association>
        
        <association property="topic" javaType="com.utime.memoBom.board.vo.TopicVo">
            <result property="uid" column="topic_uid" />
            <result property="name" column="topic_name" />
            <result property="ownerNo" column="topic_ownerNo" />
            <result property="color" column="topic_color" />
            <result property="imogi" column="topic_imogi" />
            <result property="emojiSetType" column="emoji_set_type" 
            	typeHandler="com.utime.memoBom.board.typeHandler.EmojiSetTypeHandler"/>
        </association>
        
        <collection property="hashtagList"
            ofType="string"
            column="fragment_no"
            select="selectHashtagListByFragmentUid" />
            
        <collection property="emotionList"
            ofType="com.utime.memoBom.board.vo.EmotionItem"
            column="fragment_no"
            select="selectEmotionListByFragmentNo" />

    </resultMap>

	<!-- 해시테그 목록  -->    
    <select id="selectHashtagListByFragmentUid" parameterType="long" resultType="string">
	    SELECT h.NAME
	    FROM MB_FRAGMENT_HASHTAG h
		    INNER JOIN MB_FRAGMENT_HASHTAG_RECORD r
		        ON r.TAG_NO = h.TAG_NO
	    WHERE r.FRAGMENT_NO = #{fragment_no}
	    ORDER BY h.NAME
	</select>
	
	
	<resultMap id="EmotionItemMap" type="com.utime.memoBom.board.vo.EmotionItem">
	        <result property="emotion" column="emotion" 
        	typeHandler="com.utime.memoBom.board.typeHandler.EmotionCodeTypeHandler"/>
        <result property="count" column="count" />
	</resultMap>
	
	<!-- Fragment 감정(리액션) 목록  -->
	<select id="selectEmotionListByFragmentNo" parameterType="long" resultMap="EmotionItemMap">
	    SELECT
	        EMOTION          AS emotion,
	        COUNT(*)         AS count
	    FROM MB_FRAGMENT_EMOTION_LOG
	    WHERE 1=1
	    	AND TARGET_TYPE = 1
	    	AND TARGET_NO = #{fragment_no}
	    GROUP BY EMOTION
	</select>

	<select id="selectEmotionList" parameterType="map" resultMap="EmotionItemMap">
	    SELECT
	        EMOTION          AS emotion,
	        COUNT(*)         AS count
	    FROM MB_FRAGMENT_EMOTION_LOG
	    WHERE 1=1
	    	AND TARGET_TYPE = #{req.targetType, typeHandler=com.utime.memoBom.board.typeHandler.EEmotionTargetTypeHandler}
	    	AND TARGET_NO = <include refid="getTargetNoSql" />
	    GROUP BY EMOTION
	</select>

    <select id="loadFragmentList" parameterType="map" resultMap="FragmentItemMap">
	    SELECT
	        <!-- 게시글 정보 -->
	        f.FRAGMENT_NO    AS fragment_no,
	        f.UID AS fragment_uid,
	        f.CONTENT        AS content,
	        DATETIME(f.CREATED_AT, 'localtime') AS CREATED_AT,
	
	        <!-- 작성자 정보 -->
	        u.UID AS user_uid,
	        u.NICKNAME       AS user_nickname,
	        u.PROFILE_IMG_PATH AS user_img_url,
	
	        <!-- 얘깃거리 정보 -->
	        t.UID AS topic_uid,
	        t.NAME           AS topic_name,
	        t.OWNER_NO       AS topic_ownerNo,
	        t.COLOR          AS topic_color,
	        t.IMOGI          AS topic_imogi,
	        t.EMOJI_SET_TYPE AS emoji_set_type,
	
	        <!-- 보관함 여부(로그인 사용자일 때만) -->
	        <choose>
	            <when test="user != null">
	                CASE WHEN s.USER_NO IS NULL THEN 0 ELSE 1 END
	            </when>
	            <otherwise>
	                0
	            </otherwise>
	        </choose> AS is_scrap,
	        
	        img.UID AS img_uid,
			img.ORIGINAL_NAME AS img_original_name,
			img.WIDTH AS img_width,
			img.HEIGHT AS img_height
	
	    FROM MB_FRAGMENT f
		    INNER JOIN MB_USER  u ON f.USER_NO  = u.USER_NO
		    INNER JOIN MB_TOPIC t ON f.TOPIC_NO = t.TOPIC_NO
		    
		    <if test="user != null">
		        LEFT JOIN MB_FRAGMENT_SCRAP s
		               ON s.FRAGMENT_NO = f.FRAGMENT_NO
		              AND s.USER_NO = #{user.userNo}
		    </if>
		    
		    LEFT JOIN MB_FRAGMENT_IMAGE img
		    	ON img.FRAGMENT_NO = f.FRAGMENT_NO 
		    	AND img.IMAGE_ORDER = 0
	    WHERE 1=1
	      -- 기본 조건
	      AND f.IS_DELETED = 0
	      AND u.ENABLED    = 1
	      AND t.ENABLED    = 1
	
	      -- ✅ 얘깃거리 공개/비공개 접근 조건
	      AND (
	            t.EXTERNAL = 1
	            <if test="user != null">
	              OR (
	                   t.EXTERNAL = 0
	                   AND EXISTS (
	                       SELECT 1
	                       FROM MB_TOPIC_FOLLOW tf
	                       WHERE tf.TOPIC_NO = t.TOPIC_NO
	                         AND tf.USER_NO  = #{user.userNo}
	                   )
	              )
	            </if>
	          )
	
	      <!-- 검색 조건: 작성자 uid -->
	      <if test="req.userUid != null and !req.userUid.isEmpty() ">
	        AND u.UID = #{req.userUid}
	      </if>
	
	      <!-- 검색 조건: topic uid -->
	      <if test="req.topicUid != null and !req.topicUid.isEmpty() ">
	        AND t.UID = #{req.topicUid}
	      </if>
	
	      <!-- 검색 조건: fragment uid -->
	      <if test="req.fragUid != null and !req.fragUid.isEmpty() ">
	        AND f.UID = #{req.fragUid}
	      </if>
	
	      <!-- 검색 조건: 댓글 uid (그 댓글이 달린 글만) -->
	      <if test="req.cmtUid != null and !req.cmtUid.isEmpty() ">
	        AND EXISTS (
	            SELECT 1
	            FROM MB_FRAGMENT_COMMENTS c
	            WHERE c.FRAGMENT_NO = f.FRAGMENT_NO
	              AND c.IS_DELETED  = 0
	              AND c.UID         = #{req.cmtUid}
	        )
	      </if>
	
	      <!-- 검색 조건: 키워드 (CLOB 대응 위해 CAST) -->
	      <if test="req.keyword != null and !req.keyword.isEmpty() ">
			AND (
			     f.CONTENT LIKE '%' || #{req.keyword} || '%'
			     OR t.NAME_UPPER LIKE '%' || UPPER(#{req.keyword}) || '%'
			)
			</if>
	
	      <!-- 검색 조건: 해시태그 -->
	      <if test="req.hashtag != null and !req.hashtag.isEmpty() ">
	        AND EXISTS (
	            SELECT 1
	            FROM MB_FRAGMENT_HASHTAG_RECORD r
	            INNER JOIN MB_FRAGMENT_HASHTAG h ON h.TAG_NO = r.TAG_NO
	            WHERE r.FRAGMENT_NO = f.FRAGMENT_NO
	              AND h.NAME = #{req.hashtag}
	        )
	      </if>
	
	    ORDER BY f.CREATED_AT DESC
        LIMIT 5 OFFSET (#{req.pageNo} - 1) * 5
    </select>
    
    <!--게시글 정보 조회-->
    <select id="getFragment" parameterType="map" resultMap="FragmentItemMap">
	    SELECT
	        <!-- 게시글 정보 -->
	        f.FRAGMENT_NO    AS fragment_no,
	        f.UID AS fragment_uid,
	        f.CONTENT        AS content,
	        DATETIME(f.CREATED_AT, 'localtime') AS CREATED_AT,
	
	        <!-- 작성자 정보 -->
	        u.UID AS user_uid,
	        u.NICKNAME       AS user_nickname,
	        u.PROFILE_IMG_PATH AS user_img_url,
	
	        <!-- 얘깃거리 정보 -->
	        t.UID AS topic_uid,
	        t.NAME           AS topic_name,
	        t.COLOR          AS topic_color,
	        t.IMOGI          AS topic_imogi,
	        t.EMOJI_SET_TYPE AS emoji_set_type,
	        
	        img.UID AS img_uid
	
	    FROM MB_FRAGMENT f
		    INNER JOIN MB_USER  u ON f.USER_NO  = u.USER_NO
		    INNER JOIN MB_TOPIC t ON f.TOPIC_NO = t.TOPIC_NO
		    
		    LEFT JOIN MB_FRAGMENT_IMAGE img
		    	ON img.FRAGMENT_NO = f.FRAGMENT_NO 
		    	AND img.IMAGE_ORDER = 0
	    WHERE 1=1
	      AND f.IS_DELETED = 0
	      AND u.ENABLED    = 1
	      AND t.ENABLED    = 1
	
	      <if test="fUid != null and !fUid.isEmpty() ">
	        AND f.UID = #{fUid}
	      </if>
	
	      <if test="fNo > 0 ">
	        AND f.FRAGMENT_NO = #{fNo}
	      </if>;
	</select>
    
    <!--보관함 존재 여부 확인  -->
    <select id="existsScrap" resultType="boolean">
    	SELECT 
			CASE COUNT(1) 
	   			WHEN 0 THEN 0
				ELSE 1
	   		END AS RES
	   	FROM MB_FRAGMENT_SCRAP
	   	WHERE 1=1	
	   	    AND USER_NO = #{userNo}
            AND FRAGMENT_NO = (
                SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{fUid}
            )
    </select>
    
	<!--보관함 삭제  -->
	<delete id="deleteScrap">
        DELETE FROM MB_FRAGMENT_SCRAP
        WHERE 1=1
            AND USER_NO = #{userNo}
            AND FRAGMENT_NO = (
                SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{fUid}
            )
    </delete>
	
	<!--보관함 추가  -->
	<insert id="insertScrap" parameterType="map">
        INSERT INTO MB_FRAGMENT_SCRAP (
            USER_NO,
            FRAGMENT_NO
        ) VALUES (
            #{userNo},
            (SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{fUid})
        )
    </insert>
    
    <sql id="getTargetNoSql">
	 	(<choose>
			<when test="req.targetType.name() == 'Board'">
				SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{req.uid}
			</when>
			<otherwise>
				SELECT COMMENT_NO FROM MB_FRAGMENT_COMMENTS WHERE UID = #{req.uid}
			</otherwise>
	    </choose>)
	</sql>
    
	<!-- 감정 표현 삭제(해제) -->
	<delete id="deleteEmotion" parameterType="map">
		DELETE FROM MB_FRAGMENT_EMOTION_LOG
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND TARGET_TYPE = #{req.targetType, typeHandler=com.utime.memoBom.board.typeHandler.EEmotionTargetTypeHandler}
			AND TARGET_NO = <include refid="getTargetNoSql" />
			AND EMOTION = #{req.emotion, typeHandler=com.utime.memoBom.board.typeHandler.EmotionCodeTypeHandler}
	</delete>
	
	<update id="upsertEmotion" parameterType="map">
		INSERT INTO MB_FRAGMENT_EMOTION_LOG (
			USER_NO
			, TARGET_TYPE
			, TARGET_NO
			, EMOTION
			, UPDATED_AT
		)
		VALUES (
			#{userNo}
			, #{req.targetType, typeHandler=com.utime.memoBom.board.typeHandler.EEmotionTargetTypeHandler}
			, <include refid="getTargetNoSql" />
			, #{req.emotion, typeHandler=com.utime.memoBom.board.typeHandler.EmotionCodeTypeHandler}
			, CURRENT_TIMESTAMP
		)
		ON CONFLICT(USER_NO, TARGET_TYPE, TARGET_NO) DO UPDATE SET
			EMOTION = excluded.EMOTION,
			UPDATED_AT = CURRENT_TIMESTAMP
	</update>

	<!--댓글 추가-->
	<insert id="insertComment" parameterType="map"
		useGeneratedKeys="true" keyProperty="req.commentNo">
		INSERT INTO MB_FRAGMENT_COMMENTS (
            FRAGMENT_NO
            , USER_NO
            , UID
            , CONTENT
            <if test="req.ip != null and ! req.ip.isEmpty()">, IP </if>
            <if test="req.device != null and ! req.device.isEmpty()">, DEVICE</if> 
        ) VALUES (
			(
                SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{req.uid}
            )
            , #{user.userNo}
            , #{req.commentUid}
            , #{req.content}
            <if test="req.ip != null and ! req.ip.isEmpty()">, #{req.ip} </if>
            <if test="req.device != null and ! req.device.isEmpty()">, #{req.device}</if> 
        )
	</insert>
	
	<resultMap id="CommentItemMap" type="com.utime.memoBom.board.vo.CommentItem">
        <id property="uid" column="comment_uid" />
        <result property="content" column="content" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="scrap" column="is_scrap" /> 
        
        <association property="user" javaType="com.utime.memoBom.user.vo.UserVo">
            <result property="uid" column="user_uid" />
            <result property="nickname" column="user_nickname" />
            <result property="profileUrl" column="user_img_url" />
        </association>

        <collection property="emotionList"
            ofType="com.utime.memoBom.board.vo.EmotionItem"
            column="comment_no"
            select="selectEmotionListByCommentUid" />
    </resultMap>

	<!-- Comment 감정(리액션) 목록  -->
	<select id="selectEmotionListByCommentUid" parameterType="string" resultMap="EmotionItemMap">
	    SELECT
	        EMOTION          AS emotion,
	        COUNT(*)         AS count
	    FROM MB_FRAGMENT_EMOTION_LOG
	    WHERE 1=1
	    	AND TARGET_TYPE = 2
	    	AND TARGET_NO = #{comment_no}
	    GROUP BY EMOTION
	</select>
	
	<!--댓글 조회-->
	<select id="selectCommentByNo" parameterType="long" resultMap="CommentItemMap">
        SELECT
        	c.COMMENT_NO AS comment_no, 
            c.UID AS comment_uid,
            c.CONTENT AS content,
            DATETIME(c.CREATED_AT, 'localtime') AS CREATED_AT,
            <!-- 작성자 정보 -->
            u.UID AS user_uid,
            u.NICKNAME AS user_nickname,
            u.PROFILE_IMG_PATH AS user_img_url
        FROM MB_FRAGMENT_COMMENTS c
        	INNER JOIN MB_USER u ON c.USER_NO = u.USER_NO
        WHERE 1=1
        	AND c.COMMENT_NO = #{commentNo}
            AND c.IS_DELETED = 0
            AND u.ENABLED = 1
	</select>


	<!--댓글 목록 얻기-->
	<select id="loadCommentsList" parameterType="map" resultMap="CommentItemMap">
        SELECT
        	c.COMMENT_NO AS comment_no, 
            c.UID  AS comment_uid,
            c.CONTENT AS content,
            DATETIME(c.CREATED_AT, 'localtime') AS CREATED_AT,
            <!-- 작성자 정보 -->
            u.UID  AS user_uid,
            u.NICKNAME AS user_nickname,
            u.PROFILE_IMG_PATH AS user_img_url
        FROM MB_FRAGMENT_COMMENTS c
        	INNER JOIN MB_USER u ON c.USER_NO = u.USER_NO
        WHERE 1=1
        	AND c.IS_DELETED = 0
            AND u.ENABLED = 1
            AND c.FRAGMENT_NO = (
                SELECT FRAGMENT_NO FROM MB_FRAGMENT WHERE UID = #{uid}
            )
        ORDER BY c.COMMENT_NO DESC
        LIMIT 7 OFFSET (#{pageNo} - 1) * 7
    </select>
    
    <!--USER_NO가 작성한 MB_FRAGMENT 목록 조회-->
    <select id="listMyFragments" parameterType="map" resultMap="FragmentItemMap">
		SELECT
			F.UID AS fragment_uid,
			DATETIME(F.CREATED_AT, 'localtime') AS CREATED_AT,
			F.CONTENT AS content,
	
			T.UID AS topic_uid,
			T.NAME AS topic_name,
	        T.COLOR AS topic_color,
	        T.IMOGI AS topic_imogi,
	        T.EMOJI_SET_TYPE AS emoji_set_type
		FROM MB_FRAGMENT F
			JOIN MB_TOPIC T
				ON T.TOPIC_NO = F.TOPIC_NO
	  	WHERE 1=1
	  		AND F.IS_DELETED = 0
	  		AND F.USER_NO = #{user.userNo}
	  		
			<if test="keyword != null and !keyword.isEmpty()">
				AND F.CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			
		ORDER BY F.CREATED_AT DESC, F.FRAGMENT_NO DESC
		LIMIT 10 OFFSET (#{pageNo} - 1) * 10
	</select>

  <resultMap id="MyCommentMap" type="com.utime.memoBom.board.vo.query.MyCommentVo">
        <id property="uid" column="comment_uid" />
        <result property="content" column="content" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="fragmentUid" column="fragment_Uid" />
        <result property="fragmentPreview" column="fragment_preview" />
        
        <association property="topic" javaType="com.utime.memoBom.board.vo.query.BasicTopicVo">
            <result property="uid" column="topic_uid" />
            <result property="name" column="topic_name" />
            <result property="color" column="topic_color" />
            <result property="imogi" column="topic_imogi" />
            <result property="emojiSetType" column="emoji_set_type" 
            	typeHandler="com.utime.memoBom.board.typeHandler.EmojiSetTypeHandler"/>
        </association>
    </resultMap>


	<!--USER_NO가 작성한 comment 목록 조회-->
    <select id="listMyComments" parameterType="map" resultMap="MyCommentMap">
		SELECT
			C.UID AS comment_uid,
			C.CONTENT AS content,
			DATETIME(C.CREATED_AT, 'localtime') AS CREATED_AT,
	
			T.UID AS topic_uid,
			T.NAME AS topic_name,
	        T.COLOR AS topic_color,
	        T.IMOGI AS topic_imogi,
	        T.EMOJI_SET_TYPE AS emoji_set_type,
	
			F.UID AS fragment_uid,
	
			CASE
				WHEN LENGTH(F.CONTENT) > 10
				THEN SUBSTR(F.CONTENT, 1, 10) || '...'
				ELSE F.CONTENT
			END AS fragment_preview
		FROM MB_FRAGMENT_COMMENTS C
			JOIN MB_FRAGMENT F
				ON F.FRAGMENT_NO = C.FRAGMENT_NO
			JOIN MB_TOPIC T
				ON T.TOPIC_NO = F.TOPIC_NO
	
		WHERE 1=1
		    AND C.USER_NO = #{user.userNo}
		    AND F.IS_DELETED = 0
		    AND C.IS_DELETED = 0
		    AND T.ENABLED = 1
		
		    <if test="keyword != null and !keyword.isEmpty()">
		      AND C.CONTENT LIKE '%' || #{keyword} || '%'
		    </if>
		
	  	ORDER BY C.CREATED_AT DESC, C.COMMENT_NO DESC
		LIMIT 10 OFFSET (#{pageNo} - 1) * 10
	</select>

	<select id="listMyScrapFragments" parameterType="map" resultMap="FragmentItemMap">
		SELECT
			F.UID AS fragment_uid,
			DATETIME(F.CREATED_AT, 'localtime') AS CREATED_AT,
			F.CONTENT AS content,
	
			T.UID AS topic_uid,
			T.NAME AS topic_name,
			T.COLOR AS topic_color,
			T.IMOGI AS topic_imogi,
			T.EMOJI_SET_TYPE AS emoji_set_type

		FROM MB_FRAGMENT_SCRAP S
			JOIN MB_FRAGMENT F
			ON F.FRAGMENT_NO = S.FRAGMENT_NO
			JOIN MB_TOPIC T
			ON T.TOPIC_NO = F.TOPIC_NO

		WHERE 1=1
			AND S.USER_NO = #{user.userNo}
			AND F.IS_DELETED = 0
			AND T.ENABLED = 1
			
			<if test="keyword != null and !keyword.isEmpty()">
		      AND F.CONTENT LIKE '%' || #{keyword} || '%'
		    </if>

		ORDER BY S.CREATED_AT DESC, S.FRAGMENT_NO DESC
		LIMIT 10 OFFSET (#{pageNo} - 1) * 10
	</select>

	<!--Fragment 제거-->
	<update id="removeFragment" parameterType="map">
		UPDATE MB_FRAGMENT SET
			UPDATED_AT = CURRENT_TIMESTAMP
			, IS_DELETED = 1
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND UID = #{uid}
	</update>

	<!--Fragment 수정-->
	<update id="updateFragment" parameterType="map">
		UPDATE MB_FRAGMENT SET
			UPDATED_AT = CURRENT_TIMESTAMP
			, CONTENT = #{req.content}
			, IP = #{req.ip}
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND UID = #{req.uid}
	</update>
	
	<update id="upsertFragmentImage" parameterType="map">
		INSERT INTO MB_FRAGMENT_IMAGE (
			UID
			, FRAGMENT_NO
			, USER_NO
			, IMAGE_ORDER
			, MIME_TYPE
			, STORAGE_NAME
			, ORIGINAL_NAME
			, WIDTH
			, HEIGHT
			, FILE_SIZE
		)
		VALUES (
			#{item.uid}
			, #{fragment}
			, #{user.userNo}
			, #{item.imageOrder}
			, #{item.mimeType}
			, #{item.storageName}
			, #{item.originalName}
			, #{item.width}
			, #{item.height}
			, #{item.fileSize}
		)
		ON CONFLICT(FRAGMENT_NO, IMAGE_ORDER) DO UPDATE SET
			UID = excluded.UID,
			USER_NO = excluded.USER_NO,
			MIME_TYPE = excluded.MIME_TYPE,
			STORAGE_NAME = excluded.STORAGE_NAME,
			ORIGINAL_NAME = excluded.ORIGINAL_NAME,
			WIDTH = excluded.WIDTH,
			HEIGHT = excluded.HEIGHT,
			FILE_SIZE = excluded.FILE_SIZE,
			UPDATED_AT = CURRENT_TIMESTAMP
	</update>
	
	<!--Fragment Image 정보 조회-->
	<select id="selectFragmentImage" parameterType="map" resultType="com.utime.memoBom.board.vo.query.BoardImageVo">
		SELECT
			UID AS "uid"
			, MIME_TYPE AS "mimeType"
			, STORAGE_NAME AS "storageName" 
			, ORIGINAL_NAME AS "originName"
			, WIDTH  AS "width"
			, HEIGHT  AS "height"
		FROM MB_FRAGMENT_IMAGE
		WHERE UID = #{uid}
	</select>

</mapper>
