<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.memoBom.board.mapper.TopicMapper">
	
	<!--팔로우 한 topic이 있나?-->
	<select id="hasTopic" parameterType="com.utime.memoBom.user.vo.UserVo" resultType="boolean">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 0 THEN 0
				ELSE 1
	   		END AS RES
	   	FROM MB_TOPIC_FOLLOW FL
	   		INNER JOIN MB_TOPIC TP ON FL.TOPIC_NO = TP.TOPIC_NO
	   	WHERE TP.ENABLED = TRUE AND FL.USER_NO = #{userNo}
	</select>
	
	<!-- topic이 있나?-->
	<select id="isEmpty" parameterType="map" resultType="boolean">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 0 THEN 1
				ELSE 0
	   		END AS RES
	   	FROM MB_TOPIC
	   	WHERE ENABLED = TRUE 
	</select>
	
	
	<!--동일 이름 있는지 검사.-->
	<select id="checkSameName" parameterType="map" resultType="boolean">
		SELECT 
			CASE COUNT(1) 
	   			WHEN 0 THEN 0
				ELSE 1
	   		END AS RES
	   	FROM MB_TOPIC
	   	WHERE NAME_UPPER = UPPER(#{name})
	</select>
	
	<insert id="insertTopic" parameterType="com.utime.memoBom.board.vo.TopicReqVo"
	    useGeneratedKeys="true" keyProperty="topicNo" >
		INSERT INTO MB_TOPIC (
			UPDATE_DATE 
			, OWNER_NO
			, ENABLED 
			, EXTERNAL
			, NAME 
			, NAME_UPPER 
			<if test="description != null and ! description.isEmpty()">, DESCRIPTION</if>
			<if test="imogi != null and ! imogi.isEmpty()">, IMOGI</if>
			<if test="color != null and ! color.isEmpty()">, COLOR</if>
			, EMOJI_SET_TYPE
		) VALUES (
			CURRENT_TIMESTAMP
			, #{ownerNo}
			, TRUE
			, #{external}
			, #{name}
			, UPPER(#{name})
			<if test="description != null and ! description.isEmpty()">, #{description}</if>
			<if test="imogi != null and ! imogi.isEmpty()">, #{imogi}</if>
			<if test="color != null and ! color.isEmpty()">, #{color}</if>
			, #{emojiSetType, typeHandler=com.utime.memoBom.board.typeHandler.EmojiSetTypeHandler}
		)
	</insert>
	
	<!--topic 수정-->
	<update id="updateTopic" parameterType="com.utime.memoBom.board.vo.TopicReqVo">
		UPDATE MB_TOPIC SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, ENABLED = #{enabled}
			, EXTERNAL = #{external}
			, NAME = #{name}
			, NAME_UPPER = UPPER(#{name})
			, DESCRIPTION = <choose> <when test="description != null and ! description.isEmpty()">#{description}</when> <otherwise>NULL</otherwise> </choose>
			, IMOGI = <choose> <when test="imogi != null and ! imogi.isEmpty()">#{imogi}</when> <otherwise>NULL</otherwise> </choose>
			, COLOR = <choose> <when test="color != null and ! color.isEmpty()">#{color}</when> <otherwise>NULL</otherwise> </choose>
			, EMOJI_SET_TYPE = #{emojiSetType, typeHandler=com.utime.memoBom.board.typeHandler.EmojiSetTypeHandler}
		WHERE TOPIC_NO = #{topicNo}	
	</update>

	<sql id="TopicColumnSql">
	 	TOPIC_NO
		, ENABLED 
		, OWNER_NO
		, EXTERNAL
		, UID 
		, NAME
		, DESCRIPTION 
		, IMOGI 
		, COLOR 
		, EMOJI_SET_TYPE
		, EMOTION 
		, COMMENTS 
	</sql>
	
	<resultMap id="TopicResultMap" type="com.utime.memoBom.board.vo.TopicVo">
        <result property="topicNo" column="TOPIC_NO" />
        <result property="enabled" column="ENABLED" />
        <result property="ownerNo" column="OWNER_NO" />
        <result property="external" column="EXTERNAL" />
        <result property="uid" column="UID" />
        <result property="name" column="NAME" />
        <result property="description" column="DESCRIPTION" />
        <result property="imogi" column="IMOGI" />
        <result property="color" column="COLOR" />
        <result property="emotion" column="EMOTION" />
        <result property="comments" column="COMMENTS" />
        <result property="maxLen" column="MAX_LEN" />
        
        <result property="flow" column="FLOW" />
        <result property="user.uid" column="USER_UID" />
        <result property="user.nickname" column="NICKNAME" />
        <result property="user.profileUrl" column="PROFILE_IMG_PATH" />
        <result property="fragmentCount" column="FRAGMENT_COUNT" />
        <result property="flowCount" column="FLOW_COUNT" />
         
        <result property="emojiSetType" column="EMOJI_SET_TYPE" 
            typeHandler="com.utime.memoBom.board.typeHandler.EmojiSetTypeHandler"/>
    </resultMap>
    
	<!--topic 정보 읽기-->
	<select id="loadTopic" parameterType="map" resultMap="TopicResultMap">
		SELECT
			<include refid="TopicColumnSql" /> 
		FROM MB_TOPIC
		WHERE 1=1
			<if test="uid != null and ! uid.isEmpty()">
				AND UID = #{uid}
			</if>
			<if test="topicNo > 0">
				AND TOPIC_NO = #{topicNo}
			</if>
	</select>
	
	<select id="listTopic" parameterType="map" resultMap="TopicResultMap">
	    SELECT
	        TP.TOPIC_NO
	        , TP.OWNER_NO
	        , TP.EXTERNAL
	        , TP.UID
	        , TP.NAME
	        , TP.DESCRIPTION
	        , TP.IMOGI
	        , TP.COLOR
	        , USR.UID AS USER_UID
	        , USR.NICKNAME 
	        , USR.PROFILE_IMG_PATH
	        , (COUNT(MYFL.USER_NO) > 0) AS FLOW
	        , COUNT(DISTINCT ALLFL.USER_NO) AS FLOW_COUNT
	        , COUNT(DISTINCT MB.FRAGMENT_NO) AS FRAGMENT_COUNT
	    FROM MB_TOPIC TP
	        JOIN MB_USER USR
	            ON TP.OWNER_NO = USR.USER_NO
	        LEFT JOIN MB_TOPIC_FOLLOW ALLFL
	            ON ALLFL.TOPIC_NO = TP.TOPIC_NO
	        LEFT JOIN MB_TOPIC_FOLLOW MYFL
	            ON MYFL.TOPIC_NO = TP.TOPIC_NO AND MYFL.USER_NO = #{userNo}
	        LEFT JOIN MB_FRAGMENT MB
	            ON MB.TOPIC_NO = TP.TOPIC_NO
	    <where>
	        AND TP.ENABLED = TRUE
	        <!-- 공개/비공개 노출 정책 -->
	        <choose>
	            <!-- 비로그인: 공개만 -->
	            <when test="userNo == 0">
	                AND TP.EXTERNAL = TRUE
	            </when>
	
	            <!-- 로그인: 공개 + (비공개지만 내가 팔로우한 토픽) -->
	            <otherwise>
	                AND (
	                       TP.EXTERNAL = TRUE
	                    OR (TP.EXTERNAL = FALSE AND MYFL.USER_NO IS NOT NULL)
	                )
	            </otherwise>
	        </choose>
	        
	        <if test="keyword != null and ! keyword.isEmpty() ">
	            AND ( 
	                TP.NAME_UPPER LIKE CONCAT('%', UPPER(#{keyword}), '%')
	                OR TP.DESCRIPTION LIKE CONCAT('%', #{keyword}, '%')
	            )
	        </if>
	    </where>
	    GROUP BY
	        TP.TOPIC_NO
	        , TP.OWNER_NO
	        , TP.EXTERNAL
	        , TP.UID
	        , TP.NAME
	        , TP.DESCRIPTION
	        , TP.IMOGI
	        , TP.COLOR
	        , USR.NICKNAME
	        , USR.PROFILE_IMG_PATH
	    ORDER BY
	    <choose>
	        <when test="sortType == 'trending'">
	            COUNT(DISTINCT ALLFL.USER_NO) DESC
	            , COUNT(DISTINCT MB.FRAGMENT_NO) DESC
	            , TP.TOPIC_NO DESC
	        </when>
	        <otherwise>
	            TP.TOPIC_NO DESC
	        </otherwise>
	    </choose>
	    LIMIT 5 OFFSET (#{page} - 1) * 5
	</select>

	
	<!--topic 번호 조회-->
	<select id="selectTopicNoByUid" parameterType="string" resultType="long">
	    SELECT TOPIC_NO
	    FROM MB_TOPIC
        WHERE UID = #{uid}
    </select>
	
	<!-- topic 팔로우 추가 -->
	<insert id="insertTopicFlow" parameterType="map">
        INSERT INTO MB_TOPIC_FOLLOW (
            USER_NO
            , TOPIC_NO
        ) VALUES (
            #{userNo}
            , #{topicNo}
        )
    </insert>
    
	<!-- topic 팔로우 삭제 -->
	<delete id="deleteTopicFlow" parameterType="map">
        DELETE FROM MB_TOPIC_FOLLOW
        WHERE USER_NO = #{userNo}
          AND TOPIC_NO = #{topicNo}
	</delete>
	
	<!-- topic 팔로우 여부 -->
	<select id="isTopicFollowed" parameterType="map" resultType="boolean">
        SELECT 
            CASE COUNT(1) 
       			WHEN 0 THEN 0
                ELSE 1
       		END AS RES
       	FROM MB_TOPIC_FOLLOW
       	WHERE USER_NO = #{userNo}
          AND TOPIC_NO = #{topicNo}
    </select>
</mapper>