<th:block xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="BasicFooter">
		<div class="grid grid-cols-3 h-full">
			<!-- LEFT -->
			<div class="flex items-center justify-center cursor-pointer
	       active:bg-gray-100 transition-colors duration-100" th:onclick="|location.href='@{/Mosaic/index.html}'|">
				<img th:src="@{/images/bottom/mosaic.svg}" alt="Mosaic" class="pointer-events-none" />
			</div>

			<!-- CENTER -->
			<div class="flex items-center justify-center cursor-pointer
	     active:bg-gray-100 transition-colors duration-100" th:onclick="|location.href='@{/Fragment/index.html}'|">
				<img th:src="@{/images/bottom/fragment.svg}" alt="Fragment" class="pointer-events-none" />

			</div>

			<!-- RIGHT -->
			<div class="flex items-center justify-center cursor-pointer
	     active:bg-gray-100 transition-colors duration-100"
				th:onclick="|location.href='@{${user != null ? '/My/index.html' : '/About/Application.html'}}'|">
				<img th:src="@{/images/bottom/my.svg}" alt="MyPage" class="pointer-events-none" />
			</div>
		</div>
	</th:block>

	<th:block th:fragment="FooterWrite">
		<div class="w-full h-full flex items-center justify-end px-3">
			<button id="btnWrite" class="text-xl" onclick="onClickWrite()">
				<img th:src="@{/images/fragment/writeFragment.svg}" class="w-8 h-8" />
			</button>
		</div>
	</th:block>
</th:block>