<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Common/LayoutBase}">

<th:block layout:fragment="title">Memo</th:block>

<th:block layout:fragment="header">
	<th:block th:replace="~{Fragments/Header :: Header_Search('🔙', 'Select Mosaic', '✍️')}"></th:block>
</th:block>

<th:block layout:fragment="content">
	<input type="hidden" id="topicUid" th:value="${topicUid}"/>
	<input type="hidden" id="userUid" th:value="${userUid}"/>
</th:block>

<th:block layout:fragment="footer">
	<th:block th:replace="~{Fragments/Footer :: BasicFooter}"></th:block>
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function functionLeft(){
			history.back();
		}
		
		function functionRight(){
			// 글 작성하기
			location.href = /*[[@{/Fragment/Tessera.html}]]*/ '/Fragment/Tessera.html';
		}
	</script>
</th:block>

</html>