<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--//네임스페이스에는 mapper 가 있는 풀 패키지명과 매퍼명을 등록 한다. -->
<mapper namespace="com.utime.memoBom.push.mapper.PushSubscriptionMapper">
	
	<insert id="insertPushSub" parameterType="com.utime.memoBom.push.vo.PushSubVo"
	        useGeneratedKeys="true" keyProperty="subNo">
	
	    INSERT INTO MB_PUSH_SUB (
	        UPDATE_DATE
	        , USER_NO
	        , END_POINT
	        , P256DH
	        , AUTH
	        , IS_ACTIVE
	        , DEVICE_ID
	        , USER_AGENT
	        , BROWSER
	        , OS
	        , EXPIRATION_TIME
	    ) VALUES (
			CURRENT_TIMESTAMP
	        , #{userNo}
	        , #{endPoint}
	        , #{p256dh}
	        , #{auth}
	        , TRUE
	        , <choose> <when test="deviceId != null"> #{deviceId} </when> <otherwise> NULL </otherwise> </choose>
	        , <choose> <when test="userAgent != null"> #{userAgent} </when> <otherwise> NULL </otherwise> </choose>
	        , <choose> <when test="browser != null"> #{browser} </when> <otherwise> NULL </otherwise> </choose>
	        , <choose> <when test="os != null"> #{os} </when> <otherwise> NULL </otherwise> </choose>
	        , <choose> <when test="expirationTime != null"> #{expirationTime} </when> <otherwise> NULL </otherwise> </choose>
	    )
	</insert>

	
    <!-- 구독 정보 수정 -->
	<update id="updatePushSub" parameterType="com.utime.memoBom.push.vo.PushSubVo">
	    UPDATE MB_PUSH_SUB
	    <set>
	        UPDATE_DATE = CURRENT_TIMESTAMP
	        , P256DH = #{p256dh}
	        , AUTH = #{auth}
	
	        <if test="deviceId != null">
	            , DEVICE_ID = #{deviceId}
	        </if>
	
	        <if test="userAgent != null">
	            , USER_AGENT = #{userAgent}
	        </if>
	
	        <if test="browser != null">
	            , BROWSER = #{browser}
	        </if>
	
	        <if test="os != null">
	            , OS = #{os}
	        </if>
	
	        <if test="expirationTime != null">
	            , EXPIRATION_TIME = #{expirationTime}
	        </if>
	    </set>
	    WHERE SUB_NO = #{subNo}
	</update>
	
	<sql id="subColumns">
	      SUB_NO
	    , END_POINT
	    , P256DH
	    , AUTH
	    , FAIL_COUNT
	</sql>
	
	<!--회원 푸시 정보 조회-->
	<select id="selectActivePushSubsByUser"
	        parameterType="long"
	        resultType="com.utime.memoBom.push.vo.query.PushSubInfoVo">
	    SELECT
	        <include refid="subColumns"/>
		FROM MB_PUSH_SUB
		WHERE 1=1
			AND USER_NO = #{userNo}
			AND IS_ACTIVE = TRUE
		ORDER BY SUB_NO DESC
	</select>
	
	<!--푸시 정보 조회-->
	<select id="selectPushSubByEndpoint"
	        parameterType="string"
	        resultType="com.utime.memoBom.push.vo.query.PushSubInfoVo">
	    SELECT
	        <include refid="subColumns"/>
	    FROM MB_PUSH_SUB
	    WHERE END_POINT = #{endPoint}
	</select>

    <!-- 구독 정보 제거 -->
	<delete id="removeSubscription" parameterType="String">
		DELETE FROM MB_PUSH_SUB 
		WHERE END_POINT = #{endPoint}
	</delete>
	
	<!--발송 성공-->
	<update id="markSuccess" parameterType="long">
		UPDATE MB_PUSH_SUB SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, LAST_PUSH_DATE = CURRENT_TIMESTAMP
			, FAIL_COUNT = 0
			, IS_ACTIVE = TRUE
		WHERE SUB_NO = #{subNo}
	</update>

	<update id="markFail" parameterType="long">
		UPDATE MB_PUSH_SUB SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, FAIL_COUNT = FAIL_COUNT + 1
		WHERE SUB_NO = #{subNo}
	</update>
	
	<!--구독 정보 비활성화.-->
	<update id="markInactive" parameterType="long">
		UPDATE MB_PUSH_SUB SET
			UPDATE_DATE = CURRENT_TIMESTAMP
			, IS_ACTIVE = FALSE
		WHERE SUB_NO = #{subNo}
	</update>
	
</mapper>
