<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>MemoBom</title>
	<meta charset="UTF-8">

	<link rel="manifest" th:href="@{/manifest.webmanifest}">

	<th:block th:replace="~{Common/Favicon :: Favicon}"></th:block>

	<script type="text/javascript" th:src="@{/js/tailwind/tailwind.min.js}"></script>
	<th:script th:replace="~{Common/Script :: CommonScript}" />
	<!-- toast script -->
	<script type="text/javascript" th:src="@{/js/MyToast.js}"></script>
	<!-- <a href="https://www.untitledui.com/resources/file-icons" title="file icons">파일 확장자 아이콘 참조</a> -->
	<style>
	</style>

</head>

<body class="h-screen flex flex-col">
	<!-- Header -->
	<div th:replace="~{Board/Header :: header}" class="flex-none"></div>

	<!-- Main Content: Directory Tree + File List -->
	<div class="flex-1 flex">
		Topic 
		<a th:href="@{/Auth/Withdraw/Google}">Service withdrawal</a>
		
		<button type="button" onclick="enablePush()">
		  푸시 알림 켜기
		</button>
	</div>

	<!-- Footer -->
	<div th:replace="~{Board/Footer :: footer}" class="flex-none border-t border-gray-300 text-sm px-2 py-1"></div>

	<!-- Optional: Add a simple resizable script -->
	<script th:inline="javascript">
	</script>

	<!-- 로딩 오버레이 -->
	<div th:replace="~{Common/LoadingOverlay :: LoadingOverlay}"></div>
	<!-- alert confirm prompt -->
	<div th:replace="~{Common/AlertView :: AlertView}"></div>
	<!-- 모달창 -->
	<div th:replace="~{Common/ModalView :: ModalView}"></div>
	<!--<script type="text/javascript" th:src="@{/js/pwa-push.js}"></script>-->
	<script th:replace="~{Common/PwaPushScript :: PwaPushScript}"></script>

</body>

</html>