<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Common/LayoutBase}">
 
<th:block layout:fragment="title">제목</th:block>

<th:block layout:fragment="css">
	<style>
		
	</style>
</th:block>
	 
<th:block layout:fragment="header">
	<!--<th:block th:replace="~{Fragments/Header :: Header_Back(title='<img src=\'' + @{/images/profile-placeholder.svg} + '\' class=\'h-8 w-auto inline-block\'>')}"></th:block >-->
	<!--<th:block th:replace="~{Fragments/Header :: Header_Back(title='<svg class=\'h-8 w-auto\'><use href=\'#icon-back\'/></svg>')}"></th:block>-->
	<th:block th:replace="~{Fragments/Header :: Header_Back(title='<svg class=\'h-8 w-auto\'><use href=\'#icon-back\'/></svg>')}"></th:block>
</th:block>
	 
<th:block layout:fragment="content">
	내용
	<div style="display: none;">
	    <svg xmlns="http://www.w3.org/2000/svg">
	        <symbol id="icon-back" viewBox="0 0 56 56">
	            <rect x="0" y="0" width="56" height="56" rx="10" fill="#1E5EFF"/>
	            <text x="27" y="46" font-size="11" font-weight="700" text-anchor="middle" fill="#FFFFFF" 
	                  font-family="Arial, Helvetica, sans-serif" letter-spacing="0.5">BACK</text>
	        </symbol>
	    </svg>
	</div>
	<button onclick="showLoading()"> overlay </button>
</th:block>

<th:block layout:fragment="footer">
	<th:block th:replace="~{Fragments/Footer :: BasicFooter}"></th:block >
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>
</html>

